html {
  font-family: sans-serif;
}
/* pozycja i styl tekstu */
p{
	/* tekst */
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	line-height: 2.5;
	color: #ff0000;
	text-shadow: 1px 1px 5px #474747;
	/* szerokość i pozycja */
	width: 130px;
	margin: auto;
	/* obramowanie */
	border: 1px solid #bc0000;
	border-radius: 5px;
	/* background i cieniowanie*/
	background: red;
	background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 20%, rgba(0,0,0,0));
	box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6),
              inset -1px -1px 3px rgba(0,0,0,0.6),
              1px 1px 5px #474747;
	
}